[Desktop Entry]
Name=Atom
Comment=Atom Editor
Exec=/usr/bin/atom
Icon=/opt/atom/resources/app/resources/atom.png
Terminal=false
Type=Application
Categories=Utility;Application;

